# Ignore node_modules in the HeartRateLimits subfolder
Todolist/node_modules/

# Ignore Expo files in the HeartRateLimits subfolder
Todolist/.expo/
Todolist/.expo-shared/

# Logs
Todolist/logs/
Todolist/*.log
Todolist/npm-debug.log*
Todolist/expo-debug.log*

# Yarn Integrity file
Todolist/.yarn-integrity

# Optional npm cache directory
Todolist/.npm/

# Optional dotenv environment variable file
Todolist/.env

# MacOS files
Todolist/.DS_Store

# Android & iOS build artifacts
Todolist/*.apk
Todolist/*.apkg
Todolist/*.aar
Todolist/*.ipa
Todolist/.DS_Store

# Build directory
Todolist/build/